body {
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin: auto;
  padding: auto;
  background-image: url(images/misterybackground3.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 30% 45%;
  background-size: cover;

}

h1 {
  color: rgb(191, 24, 24);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;;
  font-size: 50px;
}

#carta-texto {
  border-radius:4px;
  box-shadow: 1px 1px 2px #333333;
  background: #cccccc; 
  border: 1px solid black;
}

#criar-carta {
  background-color: rgb(177, 2, 2);
  color: white;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('/images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}